.useful-button {
  // common
  outline: 0;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 2px #00000004;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  touch-action: manipulation;
  height: 32px;
  padding: 4px 15px;
  font-size: @font-size-md;
  border-radius: 2px;

  // block
  &.block {
    display: block;
    width: 100%;
  }

  // type
  &.default {
    color: @color-text;
    border-color: @color-dashed;
    background: #fff;


    &:hover {
      color: @color-primary-hover;
      border-color: @color-primary-hover;
      background: #fff;
    }
  }

  &.primary {
    color: #fff;
    border-color: @color-primary;
    background: @color-primary;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;

    &:hover {
      color: #fff;
      border-color: @color-primary-hover;
      background: @color-primary-hover;
    }
  }

  &.dashed {
    color: @color-text;
    border-color: @color-dashed;
    background: #fff;
    border-style: dashed;

    &:hover {
      color: @color-primary-hover;
      border-color: @color-primary-hover;
      background: #fff;
    }
  }

  &.link {
    color: @color-primary;
    border: none;
    border-color: transparent;
    background: 0 0;
    box-shadow: none;

    &:hover {
      color: @color-primary-hover;
      border-color: @color-primary-hover;
      background: #fff;
    }
  }

  &.text {
    color: @color-text;
    border: none;
    border-color: transparent;
    background: 0 0;
    box-shadow: none;

    &:hover {
      color: @color-primary-hover;
      border-color: @color-primary-hover;
      background: #fff;
    }
  }

  // size
  &.small {
    height: 24px;
    padding: 0 12px;
    font-size: 14px;
  }

  &.large {
    height: 40px;
    padding: 6.4px 20px;
    font-size: 16px;
  }

  // disabled
  &[disabled] {
    color: #00000040;
    background: 0 0;
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;

    &:hover {
      color: #00000040;
      border-color: #d9d9d9;
      text-shadow: none;
      box-shadow: none;
    }
  }
}
